<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="result-style.css">
    <title>Result</title>
</head>
<body>

    <h2 class="top">Thank you, for participation !</h2>

    <div class="flex-container">
        You score in test  <br>XX!
    </div>

    <div class="btns">
        <a class="blue-btn" href="../lab.html">back to lab</a>
        <a class="blue-btn" href="#">back to learning</a>
    </div>




    <footer id="footer">
        <p class="footer-text">© IMPaired</p>
    </footer>

</body>
</html>
